cmsint-pac-loader/src/main/resources/wsdl/PacClientServices.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.phis.health.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ClientServiceService" targetNamespace="http://ws.phis.health.com">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.phis.health.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.phis.health.com">
  <xs:element name="debug" type="tns:debug"/>
  <xs:element name="debugResponse" type="tns:debugResponse"/>
  <xs:element name="synchronizeClient" type="tns:synchronizeClient"/>
  <xs:element name="synchronizeClientResponse" type="tns:synchronizeClientResponse"/>
  <xs:complexType name="synchronizeClient">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="csNumber" nillable="false">
       <xs:simpleType>
       		<xs:restriction base="xsd:string">
       			<xs:minLength value="1"></xs:minLength>
       			<xs:maxLength value="8"></xs:maxLength>
       		</xs:restriction>
       </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="phn" type="xs:string" nillable="true"/>
      <xs:element minOccurs="0" maxOccurs="1" name="surname" nillable="false">
      	<xs:simpleType>
      		<xs:restriction base="xsd:string">
      			<xs:minLength value="1"></xs:minLength>
      		</xs:restriction>
      	</xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="givenName1" nillable="false">
        <xs:simpleType>
      		<xs:restriction base="xsd:string">
      			<xs:minLength value="1"></xs:minLength>
      		</xs:restriction>
      	</xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="givenName2" type="xs:string" nillable="true"/>
      <xs:element minOccurs="0" maxOccurs="1" name="birthDate" type="xs:string" nillable="true"/>
      <xs:element minOccurs="0" maxOccurs="1" name="gender" type="xs:string" nillable="true"/>
      <xs:element minOccurs="0" maxOccurs="1" name="photoGuid" type="xs:string" nillable="true"/>
      <xs:element minOccurs="0" maxOccurs="1" name="probableDischargeDate" type="xs:string" nillable="true"/>
      <xs:element minOccurs="0" maxOccurs="1" name="outLocation" type="xs:string" nillable="true"/>
      <xs:element minOccurs="0" maxOccurs="1" name="outReason" type="xs:string" nillable="true"/>
      <xs:element minOccurs="0" maxOccurs="1" name="centre" type="xs:string" nillable="true"/>
      <xs:element minOccurs="0" maxOccurs="1" name="livingUnit" type="xs:string" nillable="true"/>
      <xs:element minOccurs="0" maxOccurs="1" name="nextCourtDt" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="synchronizeClientResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="debug">
    <xs:sequence>
      <xs:element minOccurs="0" name="csNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="phn" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
      <xs:element minOccurs="0" name="givenName1" type="xs:string"/>
      <xs:element minOccurs="0" name="givenName2" type="xs:string"/>
      <xs:element minOccurs="0" name="birthDate" type="xs:string"/>
      <xs:element minOccurs="0" name="gender" type="xs:string"/>
      <xs:element minOccurs="0" name="photoGuid" type="xs:string"/>
      <xs:element minOccurs="0" name="probableDischargeDate" type="xs:string"/>
      <xs:element minOccurs="0" name="outLocation" type="xs:string"/>
      <xs:element minOccurs="0" name="outReason" type="xs:string"/>
      <xs:element minOccurs="0" name="centre" type="xs:string"/>
      <xs:element minOccurs="0" name="livingUnit" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="nextCourtDt" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="debugResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ClientServiceDebug"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientServiceDebug">
    <xs:sequence>
      <xs:element minOccurs="0" name="inputValues" type="tns:ClientInfo"/>
      <xs:element minOccurs="0" name="pacValues" type="tns:ClientInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="birthDate" type="xs:string"/>
      <xs:element minOccurs="0" name="centre" type="xs:string"/>
      <xs:element minOccurs="0" name="csNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="gender" type="xs:string"/>
      <xs:element minOccurs="0" name="givenName1" type="xs:string"/>
      <xs:element minOccurs="0" name="givenName2" type="xs:string"/>
      <xs:element minOccurs="0" name="livingUnit" type="xs:string"/>
      <xs:element minOccurs="0" name="outLocation" type="xs:string"/>
      <xs:element minOccurs="0" name="outReason" type="xs:string"/>
      <xs:element minOccurs="0" name="photoGuid" type="xs:string"/>
      <xs:element minOccurs="0" name="probableDischargeDate" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
      <xs:element minOccurs="0" name="nextCourtDt" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="debugResponse">
    <wsdl:part element="tns:debugResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="synchronizeClientResponse">
    <wsdl:part element="tns:synchronizeClientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="synchronizeClient">
    <wsdl:part element="tns:synchronizeClient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="debug">
    <wsdl:part element="tns:debug" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ClientService">
    <wsdl:operation name="synchronizeClient">
      <wsdl:input message="tns:synchronizeClient" name="synchronizeClient">
    </wsdl:input>
      <wsdl:output message="tns:synchronizeClientResponse" name="synchronizeClientResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="debug">
      <wsdl:input message="tns:debug" name="debug">
    </wsdl:input>
      <wsdl:output message="tns:debugResponse" name="debugResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientServiceServiceSoapBinding" type="tns:ClientService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="synchronizeClient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="synchronizeClient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="synchronizeClientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="debug">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="debug">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="debugResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientServiceService">
    <wsdl:port binding="tns:ClientServiceServiceSoapBinding" name="ClientServicePort">
      <soap:address location="http://localhost:8080/pacws/services/ClientService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>